/* estilos de la barra de navegacion */

.navbar {
    background-color: #0093DD;
    box-shadow: 2px 2px 5px #999;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #F8C300;
}

#mainNav .navbar-brand {
    color: #F8C300;
}

#mainNav .navbar-brand:hover {
    color: #84C225;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #84C225;
}

#mainNav .navbar-nav .navbar-brand {
    color: #F8C300;
}

#mainNav.navbar-scrolled {
    background-color: #F8C300;
}

#mainNav.navbar-scrolled .navbar-brand {
    color: #0093DD;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #0093DD;
}

#mainNav.navbar-scrolled .navbar-brand:hover {
    color: #84C225;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #84C225;
}


/* Estilos  parte novaera */

.masthead {
    background-color: #F8C300;
    position: relative;
    padding-top: 200px;
    margin-top: 3px;
    min-height: 720px;
    height: 100%;
    background-attachment: scroll;
    background-size: cover;
}


/* Acerca de nosostros */

#about {
    background-color: #F8C300;
    position: relative;
    padding-top: 100px;
    min-height: 720px;
    width: 100%;
    background-size: cover;
}

#libro {
    width: 30%;
}


/* Formulario */

#correo,
#comentarios {
    width: 100%;
}

#comentarios {
    height: 100%;
}

.formulario {
    background-color: #0093DD;
    min-height: 700px;
    border-width: 4px;
    border-style: solid;
    border-color: #F8C300;
}

@media screen and (max-width:640px) {
    /* reglas CSS */
    .ape,
    .nom {
        max-width: 150px;
    }
}

@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
}

@media screen and (min-width:1024px) {
    /* reglas CSS */
}


/* 
Paleta de colores 
Amarillo:
R: 248 G:195 B:0
F8C300
Verde:
R:132 G:194 B:37
84C225
Azul
R:0 G:147 B:221 
0093DD*/